/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

@font-face {
    font-family: 'Cocogoose';
    src: url(fonts/Cocogoose.ttf);
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(fonts/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: 'Haguiesta';
    src: url(fonts/Haguiesta.otf);
}

@font-face {
    font-family: 'Inkgasm';
    src: url(fonts/Inkgasm.otf);
}

@font-face {
    font-family: 'Secretoria';
    src: url(fonts/Secretoria.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    overflow-y: hidden;
}


.night {
    position: relative;
    height: 100vh;
    width: 100%;

    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(68, 39, 149) 30%, rgba(0,151,255,1) 100%);

    background-attachment: fixed;

    /* overflow: hidden; */
}

.night i {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: animate linear infinite;

    z-index: 1;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    10%, 90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

#ground_container {
    position: relative;

    width: 100vw;
    height: 20vh;

    bottom: 0;

    z-index: 9;
}

#ground {
    position: absolute;
    bottom: -1vh;

    width: 100vw;
    height: auto;

    z-index: 4;
}

#tree_container {
    position: relative;

    height: 100vh;
    width: auto;
}

#tree {
    position: absolute;
    bottom: 0vh;
    left: 2vh;

    height: 90vh;
    width: auto;

    z-index: 3;

}

#swing {
    animation: swing 3s infinite linear;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes swing {
    0%{
        transform: rotateZ(-15deg);
    }
    50%{
        transform: rotateZ(15deg);
    }
    100%{
        transform: rotateZ(-15deg);
    }
}



#moon {
    position: absolute;
    /* left: 65%; */
    right: 0;
    top: -5vh!important;
    /* transform: translate(-50%); */

    z-index: 2;

    width: 50vw;
    /* height: 55vh; */

    -webkit-filter: blur(9px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));
    filter: blur(9px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));

}

#intro {
    position: absolute;
    top: -5vh;
    right: 0;

    width: 50vw;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    z-index: 6;
}

#title {
    position: absolute;

    overflow: visible;

    font-family:  'Neue Montreal', Arial, Helvetica, sans-serif;
    font-size: 10vh;
    /* color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0); */
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    margin-top: -5vh;
}

#name {
    position: absolute;

    width: 50vw;
    height: 50vh;

    left: 55%;
    top: 47%;
    /* transform: translateX(-50%); */

    overflow: visible;

    font-family: 'Secretoria', 'Times New Roman', Times, serif;
    font-size: 6vh;
    text-align: left;

    /* right: 0;
    margin-bottom: -5vh; */
}

#menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    width: 50vw;
    height: 50vh;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}



ul {
    position: relative;
    display: flex;
    flex-direction: column;

    text-align: center;

    text-decoration: none;
}

ul li {
    position: relative;
    list-style: none;

    text-decoration: none;

}

ul li a {
    position: relative;

    font-family: 'Cocogoose', Arial, Helvetica, sans-serif;
    font-size: 8vh;
    text-decoration: none;

    color: transparent;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 1);
    font-smooth: subpixel-antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;

    text-decoration: none!important;

}

ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: 1s;

    text-decoration: none;

}

ul li a:hover::before {
    width: 100%;

    -webkit-filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 100));
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.8));

    text-decoration: none;
}

/* #moon_about {
    position: fixed;

    left: 10vw;
    top: 50%;
    transform: translateY(-50%);

    z-index: 2;

    width: 30vw;


    -webkit-filter: blur(9px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));
    filter: blur(9px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));

} */


/*----------------------------------------- Mobile-----------------------------*/

@media only screen and (max-width: 311px) {

    #intro {
        left: 50%;
        transform: translateX(-50%);

        width: 80vw;

        overflow: visible;
    }

    #title {
        width: 85vw;
        z-index: 10;

        font-size: 3em;

        text-align: center;

    }

    #ground {
        bottom: 0;
        /* width: 100%; */

        height: 7vh;
        width: auto;

        overflow: visible;
    }

    #tree {
        left: 0;
        bottom: 0;

        height: auto;
        width: 100vw;

        /* transform: translateX(-90%) translateY(-90%); */
    }

    #menu {
        overflow: visible;
    }

    ul {
        overflow: visible;
    }

    ul li {
        overflow: visible;
    }

    ul li a {
        font-size: 3.5em;
    }

    #name {
        font-size: 2.8em;
        margin-right: 0;
        left: 50%;
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {

    #intro {
        left: 50%;
        transform: translateX(-50%);

        width: 80vw;

        overflow: visible;
    }

    #title {
        width: 85vw;
        z-index: 10;

        font-size: 4em;

        text-align: center;

    }

    #ground {
        bottom: 0;
        /* width: 100%; */

        height: 7vh;
        width: auto;

        overflow: visible;
    }

    #tree {
        left: 0;
        bottom: 0;

        height: auto;
        width: 100vw;

        /* transform: translateX(-90%) translateY(-90%); */
    }

    #menu {
        overflow: visible;
    }

    ul {
        overflow: visible;
    }

    ul li {
        overflow: visible;
    }

    ul li a {
        font-size: 3.5em;
    }

    #name {
        font-size: 3.5em;
        margin-right: 0;
        left: 50%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #intro {
        left: 50%;
        transform: translateX(-50%);

        width: 80vw;

        overflow: visible;
    }

    #title {
        width: 85vw;
        z-index: 10;

        font-size: 4em;

        text-align: center;

    }

    #ground {
        bottom: 0;
        /* width: 100%; */

        height: 7vh;
        width: auto;

        overflow: visible;
    }

    #tree {
        left: 0;
        bottom: 0;

        height: 100%;
        width: auto;

        /* transform: translateX(-90%) translateY(-90%); */
    }

    #menu {
        overflow: visible;
    }

    ul {
        overflow: visible;
    }

    ul li {
        overflow: visible;
    }

    ul li a {
        font-size: 3.5em;
    }

    #name {
        font-size: 3.5em;
        margin-right: 0;
        left: 50%;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {

    #intro {
        left: 50%;
        transform: translateX(-50%);

        width: 80vw;

        overflow: visible;
    }

    #title {
        width: 85vw;
        z-index: 10;

        font-size: 6em;

        text-align: center;

    }

    #ground {
        bottom: 0;
        /* width: 100%; */

        height: 7vh;
        width: auto;

        overflow: visible;
    }

    #tree {
        left: 0;
        bottom: 0;

        height: 100%;
        width: auto;

        /* transform: translateX(-90%) translateY(-90%); */
    }

    #menu {
        overflow: visible;
    }

    ul {
        overflow: visible;
    }

    ul li {
        overflow: visible;
    }

    ul li a {
        font-size: 3.5em;
    }

    #name {
        font-size: 3.5em;
        margin-right: 0;
        left: 50%;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {

    #intro {
        left: 50%;
        transform: translateX(-50%);

        width: 80vw;

        overflow: visible;
    }

    #title {
        width: 85vw;
        z-index: 10;

        font-size: 6em;

        text-align: center;

    }

    #ground {
        bottom: 0;
        /* width: 100%; */

        height: 7vh;
        width: auto;

        overflow: visible;
    }

    #tree {
        left: 0;
        bottom: 0;

        height: auto;
        width: 100%;

        /* transform: translateX(-90%) translateY(-90%); */
    }

    #menu {
        overflow: visible;
    }

    ul {
        overflow: visible;
    }

    ul li {
        overflow: visible;
    }

    ul li a {
        font-size: 3.5em;
    }

    #name {
        font-size: 3.5em;
        margin-right: 0;
        left: 50%;
    }

}



/* @media only screen and (min-width: 1025px) and (orientation: landscape) {

    #intro {
        left: 50%;
        transform: translateX(-50%);

        width: 80vw;

        overflow: visible;
    }

    #title {
        width: 85vw;
        z-index: 10;

        font-size: 6em;

        text-align: center;

    }

    #ground {
        bottom: 0;

        height: 7vh;
        width: auto;

        overflow: visible;
    }

    #tree {
        left: 0;
        bottom: 0;

        height: 100%;
        width: auto;

    }

    #menu {
        overflow: visible;
    }

    ul {
        overflow: visible;
    }

    ul li {
        overflow: visible;
    }

    ul li a {
        font-size: 3.5em;
    }

    #name {
        font-size: 3.5em;
        margin-right: 0;
        left: 50%;
    }

} */

@media screen and (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 1025px) and (orientation: landscape) {

    * {
        margin: 0%;
        padding: 0%;
    }

    #intro {
        /* top: -10vh;
        left: 50%;
        transform: translateX(-50%);

        width: 80vw; */

        overflow: visible;
        transform: scale(0.85);
    }

    /* #title {
        width: 85vw;
        z-index: 10;

        font-size: 6em;

        text-align: center;
    } */


    #ground {
        bottom: 0;
        /* width: 100%; */

        height: 7vh;
        width: auto;

        overflow: visible;
    }

    #tree {
        left: 0;
        bottom: 0;

        height: auto;
        width: 50vw;

        /* transform: translateX(-90%) translateY(-90%); */
    }



    #menu {
        overflow: visible;
    }

    ul {
        overflow: visible;
    }

    ul li {
        overflow: visible;
    }

    ul li a {
        font-size: 3.5em;
    }

    #name {
        font-size: 3.5em;
        margin-right: 0;
        left: 50%;
    }

}

@media screen and (min-resolution: 192dpi) and (orientation: landscape) {
    /* #intro {
        left: 50%;
        transform: translateX(-50%);

        width: 80vw;

        overflow: visible;
    } */

    /* #title {
        width: 85vw;
        z-index: 10;

        font-size: 6em;

        text-align: center;

    } */

    #ground {
        bottom: 0;
        /* width: 100%; */

        height: 7vh;
        width: auto;

        overflow: visible;
    }

    #tree {
        left: 0;
        bottom: 0;

        height: auto;
        width: 50vw;

        /* transform: translateX(-90%) translateY(-90%); */
    }

    #menu {
        overflow: visible;
    }

    ul {
        overflow: visible;
    }

    ul li {
        overflow: visible;
    }

    ul li a {
        font-size: 3.5em;
    }

    #name {
        font-size: 3.5em;
        margin-right: 0;
        left: 50%;
    }
}
