/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

@font-face {
    font-family: 'Cocogoose';
    src: url(fonts/Cocogoose.ttf);
}

@font-face {
    font-family: 'Neue Montreal Medium';
    src: url(fonts/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: 'Neue Montreal Regular';
    src: url(fonts/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: 'Neue Montreal Light';
    src: url(fonts/PPNeueMontreal-Thin.otf);
}

@font-face {
    font-family: 'Haguiesta';
    src: url(fonts/Haguiesta.otf);
}

@font-face {
    font-family: 'Inkgasm';
    src: url(fonts/Inkgasm.otf);
}

@font-face {
    font-family: 'Secretoria';
    src: url(fonts/Secretoria.ttf);
}



* {
    margin: 0%;
    padding: 0%;
    /* overflow: hidden; */
    /* overflow-x: hidden; */

}

body {
    /* width: 100vw; */
    height: 600vh;

    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgb(0, 0, 0);
    /* background-image: linear-gradient(0deg, rgb(43, 24, 95) 0%, rgb(68, 39, 149) 30%, rgb(0, 104, 174) 100%); */
    background-image: linear-gradient(180deg, rgb(0, 104, 174) 0%, rgb(2, 69, 137) 22%, rgb(0, 46, 174)33.34%, rgb(49, 0, 174) 50.01%, rgb(55, 0, 133) 66.68%, rgb(67, 16, 103) 83.35%, rgb(32, 2, 41) 100%);

}

body, html {
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-behavior: smooth;
    /* overflow-y: auto; */
    /* scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity; */

}

section {
    scroll-snap-align: start;
}

#home {
    position: fixed;

    top: 90%;
    left: 2%;
    transform: translateX(-50%), translateY(-50%);

    z-index: 5;
}

.fa-long-arrow-alt-left {
    font-size: 6vh;
    color: #fff;

    cursor: pointer;
}

.fa-long-arrow-alt-left:hover {
    transform: scale(1.2);
    transition: all 0.3s linear 0s;
}

.night {
    position: fixed;
    height: 100vh;
    width: 100%;



    background-attachment: fixed;

    z-index: -1;

    overflow: hidden;
}

.night i {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: animate linear infinite;

    z-index: 1;
}



@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    10%, 90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

#moon {
    position: fixed;

    left: 10vw;
    top: 50%;
    transform: translateY(-50%);

    z-index: 2;

    width: 30vw;


    -webkit-filter: blur(9px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));
    filter: blur(9px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));

}

#ground {
    position: fixed;
    bottom: -1vh;

    width: 100%;
    height: auto;

    z-index: 4;
}



/* .content {
    width: 100vw;
    height: 500vh;
} */



.about_me, .education, .technical, .software, .personal, .contact {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
    overflow: hidden!important;

}

/* .education {
    position: relative;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
    overflow: hidden!important;
}

.technical {
    position: relative;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
    overflow: hidden!important;


}

.software {
    position: relative;


    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
    overflow: hidden!important;



}

.personal {
    position: relative;


    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
    overflow: hidden!important;


}

.contact {
    position: relative;


    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
    overflow: hidden!important;


} */


#left {
    position: relative;

    width: 50vw;
    height: 100vh;

    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    position: relative;

    width: 50vw;
    height: 100vh;

    margin: 0;
}

.title1, .title2, .title3, .title4, .title5, .title6  {
    position: relative;

    width: 30vw;
    height: 30vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Haguiesta', Arial, Helvetica, sans-serif;
    font-size: 7vh;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

    opacity: 0;
}

/* .title2_main {
    width: fit-content;
    height: 8vh;

    line-height: 8vh;

    overflow: hidden;
    top: -8;
} */

#box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    width: 40vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: #fff solid 5px; */

}

#about_box1, #about_box2, #about_box3, #about_box4 {
    position: relative;
    margin-bottom: 5vh;

    width: 90%;
    height: fit-content;

    border: #fff solid 2px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;

}

#about_box5 {
    position: relative;
    margin-bottom: 5vh;

    width: 90%;
    height: fit-content;

    border: #fff solid 2px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;

    /* background-color: rgba(255, 255, 255, 0.1); */

}

#about_box1 {
    left: -2vw;
    opacity: 0;
}

#about_box2 {
    right: -2vw;
    opacity: 0;
}

#about_box3 {
    top: 5vh;
    opacity: 0;
}

#about_box4 {
    bottom: -5vh;
    opacity: 0;
}

#about_box5 {
    bottom: -5vh;
    opacity: 0;
}

#introduction {
    position: relative;
    padding: 1vw;

    width: 100%;

    font-family: 'Neue Montreal Regular', Arial, Helvetica, sans-serif;
    font-size: 2.6vh;
    text-align: left;
    color: #fff;
}

#tech_box {
    position: relative;
    top: -5vh;
    padding-top: 3vh;

    width: 90%;
    height: fit-content;

    border: #fff solid 2px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;

    opacity: 0;

}

#software_box {
    position: relative;
    /* margin-bottom: 5vh; */
    bottom: -5vh;
    /* padding: 3vh 0; */
    padding-top: 3vh;
    padding-bottom: 1vh;
    padding-left: 3vw;
    padding-right: 3vw;

    width: 90%;
    height: fit-content;

    border: #fff solid 2px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */

    opacity: 0;

}

#box_title {
    position: relative;
    padding: 0.5vh;
    margin: 0;

    width: 100%;
    height: fit-content;

    font-family: 'Neue Montreal Medium', Arial, Helvetica, sans-serif;
    font-size: 2.7vh;
    text-align: center;
    color: #fff;
    letter-spacing: 4.5px;

    border-color: #fff;
    border-style: solid;
    border-width: 0px 0px 1px 0px;


}

#box_main1 {
    position: relative;
    padding-top: 1vh;
    padding-bottom: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 2.6vh;
    text-align: center;
    color: #fff;
}

#box_main2 {
    position: relative;
    padding-top: 1vh;
    padding-bottom: 1vh;

    width: 100%;

    display: flex;
    flex-direction: column;

    font-size: 2.6vh;
    text-align: center;
    color: #fff;
}

#box_main3 {
    position: relative;
    padding-top: 1vh;
    padding-bottom: 4vh;

    width: 100%;

    display: flex;
    flex-direction: column;

    font-size: 2.6vh;
    text-align: center;
    color: #fff;
}



#box_main5 {
    position: relative;
    /* padding-left: 2vw; */
    /* margin-top: 1vh; */
    margin-bottom: 2vh;
    /* margin-left: 2.5vw; */

    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */

    width: 95%;

    overflow: hidden;

}

#box_main4 {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box_main6 {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box_content1 {
    position: relative;

    width: 40%;

    font-family: 'Neue Montreal Regular', Arial, Helvetica, sans-serif;
    text-align: center;

}

.box_content2 {
    position: relative;

    width: 55%;

    font-family: 'Neue Montreal Light', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    text-decoration: none;

    display: flex;
    justify-content: space-evenly;


}

#box_content3 {
    position: relative;

    width: 100%;

    font-family: 'Neue Montreal Regular', Arial, Helvetica, sans-serif;
}

#box_content4 {
    position: relative;
    /* padding-left: 3vw; */

    width: 100%;

    font-family: 'Neue Montreal Light', Arial, Helvetica, sans-serif;
    text-align: center;

    line-height: 5vh;

}

#box_content7 {
    position: relative;
    padding: 0;


    width: 40%;
    height: fit-content;

    /* font-family: 'Neue Montreal Regular', Arial, Helvetica, sans-serif;
    text-align: left; */
    font-family: 'Neue Montreal Light', Arial, Helvetica, sans-serif;
    font-size: 2.6vh;
    text-align: center;
    color: #fff;

    overflow: hidden;

}

#box_content8 {
    position: relative;

    width: 60%;
    height: 3.5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#box_content9 {
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 3vh;
}

#box_content9_1 {
    position: relative;

    width: 46%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Neue Montreal Light', Arial, Helvetica, sans-serif;
    font-size: 2.6vh;
    color: #fff;
    text-align: center;

    border: #fff solid 2px;
    border-radius: 50px;

    opacity: 0;
}

#box_content9_2 {
    position: relative;

    width: 46%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Neue Montreal Regular', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 2.6vh;
    text-align: center;

    opacity: 0;

}

#box_content9_3 {
    position: relative;

    width: 46%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Neue Montreal Regular', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 2.6vh;
    text-align: center;

    opacity: 0;

}

#box_content9_4 {
    position: relative;

    width: 46%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Neue Montreal Light', Arial, Helvetica, sans-serif;
    font-size: 2.6vh;
    color: #fff;
    text-align: center;

    border: #fff solid 2px;
    border-radius: 50px;

    opacity: 0;
}

#box_content9_5 {
    position: relative;

    width: 46%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Neue Montreal Light', Arial, Helvetica, sans-serif;
    font-size: 2.6vh;
    color: #fff;
    text-align: center;

    border: #fff solid 2px;
    border-radius: 50px;

    opacity: 0;
}

#box_content9_6 {
    position: relative;

    width: 46%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Neue Montreal Regular', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 2.6vh;
    text-align: center;

    opacity: 0;

}




#circle_fill {
    position: relative;

    width: 1.5vh;
    height: 1.5vh;

    background-color: #fff;
    border-radius: 50%;

    display: inline-block;
}

#circle_empty {
    position: relative;

    width: 1.5vh;
    height: 1.5vh;

    background-color: rgba(0, 0, 0, 0);
    border: #fff solid 2px;
    border-radius: 50%;

    display: inline-block;
}

#box_content5 {
    position: relative;
    /* padding-left: 2vw; */

    width: 100%;

    font-family: 'Neue Montreal Light', Arial, Helvetica, sans-serif;
    text-align: center;

    /* line-height: 5vh; */

}

#box_content6 {
    position: relative;

    width: 100%;
    height: 3.5vh;
    /* overflow: visible; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#line {
    position: absolute;

    width: 90%;
    height: 2.5px;

    background-color: #fff;
    border-radius: 5px;
}

#circle_line1 {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    width: 2vh;
    height: 2vh;

    background-color: #fff;
    border-radius: 50%;
}

#circle_line2 {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    width: 2vh;
    height: 2vh;

    background-color: #fff;
    border-radius: 50%;
}


#circle_line3 {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    width: 2vh;
    height: 2vh;

    background-color: #fff;
    border-radius: 50%;
}


#circle_line4 {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    width: 2vh;
    height: 2vh;

    background-color: #fff;
    border-radius: 50%;
}

#circle_line5 {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    width: 2vh;
    height: 2vh;

    background-color: #fff;
    border-radius: 50%;
}

#circle_line6 {
    position: absolute;
    top: 50%;
    left: 5%;

    transform: translateY(-50%);

    width: 2vh;
    height: 2vh;

    background-color: #fff;
    border-radius: 50%;
}

#square {
    position: relative;
    margin-right: 1.5vw;

    width: 1.2vh;
    height: 1.2vh;

    background-color: #fff;
    transform: rotate(45deg);
}

#pct_bar1 {
    position: relative;
    /* top: 50%;
    transform: translate(-50%); */

    width: 90%;
    height: 50%;

    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 85%, rgba(255, 255, 255, 0) 90%,rgba(255, 255, 255, 0) 100%);
    border: #fff solid 2px;
    border-radius: 10px;
}

#pct_bar2 {
    position: relative;

    width: 90%;
    height: 50%;

    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 85%, rgba(255, 255, 255, 0) 90%,rgba(255, 255, 255, 0) 100%);
    border: #fff solid 2px;
    border-radius: 10px;
}

#pct_bar3 {
    position: relative;

    width: 90%;
    height: 50%;

    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0) 35%,rgba(255, 255, 255, 0) 100%);
    border: #fff solid 2px;
    border-radius: 10px;
}

#pct_bar4 {
    position: relative;

    width: 90%;
    height: 50%;

    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0) 85%,rgba(255, 255, 255, 0) 100%);
    border: #fff solid 2px;
    border-radius: 10px;
}

#pct_bar5 {
    position: relative;

    width: 90%;
    height: 50%;

    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 55%,rgba(255, 255, 255, 0) 100%);
    border: #fff solid 2px;
    border-radius: 10px;
}

#pct_bar7 {
    position: relative;

    width: 90%;
    height: 50%;

    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0) 80%,rgba(255, 255, 255, 0) 100%);
    border: #fff solid 2px;
    border-radius: 10px;
}

#pct_bar11 {
    position: relative;

    width: 90%;
    height: 50%;

    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 65%,rgba(255, 255, 255, 0) 100%);
    border: #fff solid 2px;
    border-radius: 10px;
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:active {
    color: #fff;
    text-decoration: none;
}


/*----------------------------------------- Mobile-----------------------------*/
@media only screen and (max-width: 319px) {

    body {
        height: auto;
    }

    #moon {
        display: none;
    }

    #home {
        top: 2vh;
    }

    .about_me, .education, .technical, .software, .personal, .contact {
        flex-direction: column;
        justify-content: initial;
        padding: 0;

        /* margin-bottom: 5vh; */
    }

    .night i {
        opacity: 0.6;
        transform: scale(0.5);
    }

    .title1, .title2, .title3, .title4, .title5, .title6 {
        width: 80vw;
        height: fit-content;

        font-size: 4vh;
        color: #fff;
    }

    #home {
        top: 2vh;
        left: 8%;
    }

    .fa-long-arrow-alt-left {
        font-size: 3vh;
    }

   /* a:link{
        text-decoration: none!important;
        color: #FFF !important;
        font-size: 3vh;
        margin-left: 1.5vw;
    } */

    .box_content2 a:link {
        color: white!important;
        font-family: 'Neue Montreal Light', Arial, Helvetica, sans-serif;
        text-decoration: none!important;
        font-size: 3vh;
        margin-left: 1.5vw;
    }

    .box_content2 a:visited {
        color: white;
        font-family: 'Neue Montreal Light', Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-size: 3vh;
        margin-left: 1.5vw;
    }

    .box_content2 a:hover {
        color: white !important;
        font-family: 'Neue Montreal Light', Arial, Helvetica, sans-serif;
        text-decoration: none !important;
        font-size: 3vh;
        margin-left: 1.5vw;
    }

    .box_content2 a:active {
        color: white!important;
        font-family: 'Neue Montreal Light', Arial, Helvetica, sans-serif;
        text-decoration: none!important;
        font-size: 3vh;
        margin-left: 1.5vw;
    }

    #ground {
        height: 7vh;
    }

    #left {
        height: 16vh;
    }

    #right {
        width: 95vw;
        height: 72vh;

        padding: 0;

        display: flex;
        justify-content: center;


    }

    #box {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        /* padding: 0; */
    }

    #about_box1, #about_box3 {
        padding: 2vw;
        margin-bottom: 2vh;
    }

    #about_box2, #about_box4 {
        margin-bottom: 0;
    }

    #tech_box {
        width: 95%;
        /* height: 100%; */

        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 1vh;
    }

    #box_main3 {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding-bottom: 2vh;
    }

    #introduction, #box_content1, .box_content2, #box_content3, #box_content4, #box_content5, #box_content7, #box_content9_1, #box_content9_2, #box_content9_3, #box_content9_4, #box_content9_5, #box_content9_6 {
        font-size: 2vh;
    }

    #box_content7 {
        text-align: center;
    }

    #software_box {
        padding-top: 2vh;
        padding-bottom: 0vh;
    }

    #pct_bar1, #pct_bar2, #pct_bar3, #pct_bar4, #pct_bar5, #pct_bar7, #pct_bar11 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 90%;
        height: 1vh;

        right: 0;
    }

    #box_main6 {
        width: 90%;
    }

    #line {
        width: 85%;

    }

    #circle_line1, #circle_line2, #circle_line3, #circle_line4, #circle_line5, #circle_line6 {
        width: 1.5vh;
        height: 1.5vh;
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {

    body {
        height: auto;
    }

    #moon {
        /* left: 0;
        top: 0; */
        display: none;
    }

    .about_me, .education, .technical, .software, .personal, .contact {
        flex-direction: column;
        justify-content: initial;
        padding: 0;

        /* margin-bottom: 5vh; */
    }

    .title1, .title2, .title3, .title4, .title5, .title6 {
        width: 80vw;
        height: fit-content;

        font-size: 4vh;
        color: #fff;
    }

    #home {
        /* top: 92vh; */
        top: 2vh;
        left: 8%;
    }

    .fa-long-arrow-alt-left {
        font-size: 3vh;
    }

    #ground {
        height: 7vh;
    }

    #left {
        height: 16vh;
    }

    #right {
        width: 95vw;
        height: 72vh;

        padding: 0;

        display: flex;
        justify-content: center;


    }

    .night i {
        opacity: 0.6;
        transform: scale(0.5);
    }

    #box {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        /* padding: 0; */
    }

    #about_box1, #about_box3 {
        padding: 2vw;
        margin-bottom: 2vh;
    }

    #about_box2, #about_box4 {
        margin-bottom: 0;
    }

    #tech_box {
        width: 95%;
        /* height: 100%; */

        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 1vh;
    }

    #box_main3 {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding-bottom: 2vh;
    }

    #box_main5 {
        margin-bottom: 1vh;
    }

    #introduction, #box_content1, .box_content2, #box_content3, #box_content4, #box_content5, #box_content7, #box_content9_1, #box_content9_2, #box_content9_3, #box_content9_4, #box_content9_5, #box_content9_6 {
        font-size: 2.3vh;
    }

    #box_content7 {
        text-align: center;
    }

    #software_box {
        padding-top: 2vh;
        padding-bottom: 0vh;
    }

    #pct_bar1, #pct_bar2, #pct_bar3, #pct_bar4, #pct_bar5, #pct_bar7, #pct_bar11 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 90%;
        height: 1vh;

        right: 0;
    }

    #box_main6 {
        width: 90%;
    }

    #line {
        width: 85%;

    }

    #circle_line1, #circle_line2, #circle_line3, #circle_line4, #circle_line5, #circle_line6 {
        width: 1.5vh;
        height: 1.5vh;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {

    body {
        height: auto;
    }

    #moon {
        /* left: 0;
        top: 0; */

        display: none;
    }

    .about_me, .education, .technical, .software, .personal, .contact {
        flex-direction: column;
        justify-content: space-around;
        padding: 0;

        /* margin-bottom: 5vh; */
    }

    .title1, .title2, .title3, .title4, .title5, .title6 {
        width: 80vw;
        height: fit-content;

        font-size: 1.8em;
        color: #fff;
    }

    .night i {
        opacity: 0.6;
        transform: scale(0.5);
    }

    #home {
        top: 2vh;
        left: 8%;
    }

    .fa-long-arrow-alt-left {
        font-size: 3vh;
    }

    #ground {
        height: 7vh;
    }

    #left {
        height: 16vh;
    }

    #right {
        width: 95vw;
        height: 72vh;

        padding: 0;

        display: flex;
        justify-content: center;


    }

    #box {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        /* padding: 0; */
    }

    #about_box1, #about_box3 {
        padding: 2vw;
        margin-bottom: 2vh;
    }

    #about_box2, #about_box4 {
        margin-bottom: 0;
    }

    #tech_box {
        width: 95%;
        /* height: 100%; */

        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 1vh;
    }

    #box_main3 {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 90%;

        padding-bottom: 2vh;
    }

    #box_content6 {
        width: 100%;
    }

    #introduction, #box_content1, .box_content2, #box_content3, #box_content4, #box_content5, #box_content7, #box_content9_1, #box_content9_2, #box_content9_3, #box_content9_4, #box_content9_5, #box_content9_6 {
        font-size: 3vh;
    }

    #box_content7 {
        text-align: center;
    }

    #software_box {
        padding-top: 1vh;
        padding-bottom: 0vh;
    }

    #box_main5 {
        justify-content: center;
        align-items: center;
        margin-bottom: 1.1vh;
    }

    #pct_bar1, #pct_bar2, #pct_bar3, #pct_bar4, #pct_bar5, #pct_bar7, #pct_bar11 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 90%;
        height: 1.6vh;

        right: 0;
    }

    #box_content6 {
        width: 90%;
    }

    #line {
        width: 100%;

    }

    #circle_line1, #circle_line2, #circle_line3, #circle_line4, #circle_line5, #circle_line6 {
        left: 0;
        width: 1.5vh;
        height: 1.5vh;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {

    .title1, .title2, .title3, .title4, .title5, .title6 {
        font-size: 7vh;
    }

    #left {
        width: 40vw;
    }

    #right {
        width: 60vw;

    }

    #moon {
        -webkit-filter: blur(7px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));
        filter: blur(7px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));

        left: 5vw;
    }

    #box {
        width: 55vw;
    }

    #ground {
        height: 15vh;
    }

    #introduction, #box_content1, .box_content2, #box_content3, #box_content4, #box_content5, #box_content7, #box_content9_1, #box_content9_2, #box_content9_3, #box_content9_4, #box_content9_5, #box_content9_6 {
        font-size: 3.7vh;
    }

    #about_box1, #about_box2, #about_box3, #about_box4, #about_box5, #tech_box, #software_box {
        width: 100%;
        border-radius: 13px;
    }

    #software_box {
        width: 98%;
    }

    #box_main5 {
        justify-content: center;
        align-items: center;
    }

    #box_content8 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 2.8vh;
    }

    #pct_bar1, #pct_bar2, #pct_bar3, #pct_bar4, #pct_bar5, #pct_bar7, #pct_bar11 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 90%;
        height: 1.6vh;

        right: 0;
    }

}


@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {

    body {
        height: auto;
    }

    #moon {
        /* left: 0;
        top: 0; */

        display: none;
    }

    .about_me, .education, .technical,  .software, .personal,.contact {
        flex-direction: column;
        justify-content: initial;
        padding: 0;

        /* margin-bottom: 5vh; */
    }

    .title1, .title2, .title3, .title4, .title5, .title6 {
        width: 80vw;
        height: fit-content;

        font-size: 5em;
        color: #fff;
    }

    #home {
        top: 2vh;
        left: 8%;
    }

    .fa-long-arrow-alt-left {
        font-size: 3vh;
    }

    #ground {
        height: 7vh;
    }

    #left {
        height: 16vh;
    }

    #right {
        width: 95vw;
        height: 72vh;

        padding: 0;

        display: flex;
        justify-content: center;


    }

    #box {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        /* padding: 0; */
    }

    #about_box1, #about_box3 {
        padding: 2vw;
        margin-bottom: 2vh;
    }

    #about_box2, #about_box4 {
        margin-bottom: 0;
    }

    #tech_box {
        width: 95%;
        /* height: 100%; */

        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 1vh;
    }

    #box_main3 {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 90%;

        padding-bottom: 2vh;
    }

    #box_content6 {
        width: 100%;
    }

    #introduction, #box_content1, .box_content2, #box_content3, #box_content4, #box_content5, #box_content7, #box_content9_1, #box_content9_2, #box_content9_3, #box_content9_4, #box_content9_5, #box_content9_6 {
        font-size: 2vh;
    }

    #box_content7 {
        text-align: center;
    }

    #software_box {
        padding-top: 2vh;
        padding-bottom: 0vh;
    }

    #box_main5 {
        justify-content: center;
        align-items: center;
    }

    #pct_bar1, #pct_bar2, #pct_bar3, #pct_bar4, #pct_bar5, #pct_bar7, #pct_bar11 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 90%;
        height: 1.2vh;

        right: 0;
    }

    #box_content6 {
        width: 90%;
    }

    #line {
        width: 100%;

    }

    #circle_line1, #circle_line2, #circle_line3, #circle_line4, #circle_line5, #circle_line6 {
        left: 0;
        width: 1.5vh;
        height: 1.5vh;
    }

    #box_main6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {

    .title1, .title2, .title3, .title4, .title5, .title6 {
        font-size: 7vh;
    }

    #left {
        width: 40vw;
    }

    #right {
        width: 60vw;

    }

    #moon {
        -webkit-filter: blur(7px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));
        filter: blur(7px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));

        left: 5vw;
    }

    #ground {
        height: 15vh;
    }

    #box {
        width: 55vw;
    }


    #about_box1, #about_box2, #about_box3, #about_box4, #about_box5, #tech_box, #software_box {
        width: 100%;
        border-radius: 13px;

        padding: 1vw;
    }

    #introduction, #box_content1, .box_content2, #box_content3, #box_content4, #box_content5, #box_content7, #box_content9_1, #box_content9_2, #box_content9_3, #box_content9_4, #box_content9_5, #box_content9_6 {
        font-size: 3.7vh;
    }

    #software_box {
        width: 98%;
    }

    #box_main5 {
        justify-content: center;
        align-items: center;
    }

    #box_content8 {
        height: 2.6vh;
    }


}

/* @media only screen and (min-width: 1025px) and (orientation: landscape) {

    .title1, .title2, .title3, .title4, .title5, .title6 {
        font-size: 5.8vh;
    }

    #moon {
        -webkit-filter: blur(7px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));
        filter: blur(7px) drop-shadow(0px 0px 120px rgba(255, 255, 255, 100));
    }

    #about_box1, #about_box2, #about_box3, #about_box4, #about_box5, #tech_box, #software_box {
        width: 100%;
        border-radius: 13px;
    }

    #introduction, #box_content1, .box_content2, #box_content3, #box_content4, #box_content5, #box_content7, #box_content9_1, #box_content9_2, #box_content9_3, #box_content9_4 {
        font-size: 2.5vh;
    }

    #software_box {
        width: 98%;
    }

    #box_main5 {
        justify-content: center;
        align-items: center;
    }

    #box_content8 {
        height: 2.6vh;
    }

} */
